In [3]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#reading the dataset 
train = pd.read_csv(r'C:\Users\2000139\OneDrive - TCS COM PROD\Desktop\tcs task\car_mileage.csv')
train.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [5]:
train.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

# Outliers detection using Z-Score

In [13]:
data = train['mpg']
mean = np.mean(data) 
stand = np.std(data)
threshold = 2
outliers = []
for i in data: 
    z = (i-mean)/stand  # calculate z-score
    if abs(z) > threshold:  # identify outliers
        outliers.append(i) # add to the empty list
print("The detected outliers are: ", outliers)

The detected outliers are:  [32.4, 33.9]

# Outlier detection using IQR

In [24]:
data = train['hp']
sort_data = np.sort(data)
sort_data
Q1 = np.percentile(data, 25, interpolation = 'midpoint') 
Q2 = np.percentile(data, 50, interpolation = 'midpoint') 
Q3 = np.percentile(data, 75, interpolation = 'midpoint') 
''''  
print('Q1 25 percentile of the given data is, ', Q1)
print('Q2 50 percentile of the given data is, ', Q2)
print('Q3 75 percentile of the given data is, ', Q3)
'''  
IQR = Q3 - Q1 
print('Interquartile range is', IQR)
low_lim = Q1 - 1.5 * IQR
up_lim = Q3 + 1.5 * IQR
print('lower_limit is', low_lim)
print('upper_limit is', up_lim)
outlier =[]
for x in data:
    if ((x> up_lim) or (x<low_lim)):
         outlier.append(x)
print('outlier in the dataset is', outlier)

Interquartile range is 84.0
lower_limit is -30.0
upper_limit is 306.0
outlier in the dataset is [335]

# Outlier Detection using Isolation forest

In [22]:
from sklearn.ensemble import IsolationForest

model=IsolationForest(n_estimators=100,max_samples='auto',contamination=float(0.05))

model.fit(train[['mpg']])

IsolationForest(contamination=0.05)

In [30]:
#data['scores'] = model.decision_function(train[['mpg']])

train['anomaly_score']= model.predict(train[['mpg']])

train[train['anomaly_score']==-1].head()['mpg'].reset_index(drop=True)

0    32.4
1    33.9
Name: mpg, dtype: float64