In [1]:
square=[i**2 for i in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
list1=[1,2,3,4,5,6,7,8,6,4,3,5,9,9]
l=[i+i for i in list1]
l

[2, 4, 6, 8, 10, 12, 14, 16, 12, 8, 6, 10, 18, 18]

In [10]:
s='nayan'
if (s==s[::-1]):
    print("True")
else:
    print("False")

True

In [14]:
#list to string convert
list1=["hi","hello","this","is","good","hi"]
list_to_string=' '.join(list1)
list_to_string

'hi hello this is good hi'

In [15]:
#list to Tuple
t=tuple(list1)
t

('hi', 'hello', 'this', 'is', 'good', 'hi')

In [16]:
#count Occurence
c=list1.count("hi")
c

2

In [17]:
#append in list
list1.append("Weather ")
list1

['hi', 'hello', 'this', 'is', 'good', 'hi', 'Weather ']

In [69]:
#concat List
list2=[1,2,3,4,5,6,7,8,9]
list1.extend(list2)
list1

['hi',
 'hello',
 'this',
 'is',
 'good',
 'hi',
 'Weather ',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [70]:
#concat List in single line
list2=[1,2,3,4,5,6,7,8,9]
list1.extend(list2)
print(list1,end=' ')

['hi', 'hello', 'this', 'is', 'good', 'hi', 'Weather ', 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#map Function
def test(a):
    return len(a)
x=map(test,('Pravin ','and ','also ','the ','best '))
list(x)

[7, 4, 5, 4, 5]

In [21]:
# Username and Domain
email="pravinkatkar10000@gmail.com"
username,domain=email.split('@')
username,domain

('pravinkatkar10000', 'gmail.com')

In [30]:
def test2(a,b):
    return a+b
y=map(test2,("apple","banana"),("pineapple","cherry"))
list(y)

['applepineapple', 'bananacherry']

In [36]:
#lambda Function
a,b=20,40
x=lambda a,b:a+b

In [39]:
#find Second Smallest Number
num=[1,2,3,4,5,6,7,8,9,0,6,3,2,6,8]
s=float('inf')
ss=float('inf')
for n in num:
    if(n<=s):
        s,ss=n,s
    elif(n<ss):
        ss = n
print(ss,s)

1 0

In [41]:
#given list of words print words and count of wordss in dictionary 
cars=["BMW","BMW","BMW","Audi","Jaguar","Jaguar"]
final={}
for car in cars:
    if car not in final:
        final.update({car:1}) 
    else:
        final.update({car:final[car]+1})
print(final)

{'BMW': 3, 'Audi': 1, 'Jaguar': 2}

In [49]:
p='pravin'
p.isdigit()

False

In [50]:
p.isdecimal()

False

In [51]:
p.islower()

True

In [52]:
type(p)

str

In [55]:
5*'p'

'ppppp'

In [56]:
#typeCasting
a,b=50,'katkar'
str(a)+b

'50katkar'

In [57]:
'my number is {} and my name is {}'.format(a,b)

'my number is 50 and my name is katkar'

In [58]:
'my number is {one} and my name is {two}'.format(one=a,two=b)

'my number is 50 and my name is katkar'

In [59]:
'my number is {one} and my name is {two} {two} {two}'.format(one=a,two=b)

'my number is 50 and my name is katkar katkar katkar'

In [60]:
print('my number is {one} and my name is {two}'.format(one=a,two=b))

my number is 50 and my name is katkar

In [61]:
b=[100,400,'india','sachin']

In [62]:
#want only chin from list
b[3][2:6]

'chin'

In [64]:
 #sac
b[3][0:3]

'sac'

In [65]:
#ind
b[2][0:3]

'ind'

In [66]:
#mutablity
b[1]=500
b

[100, 500, 'india', 'sachin']

In [68]:
b[3]='Pravin'
b

[100, 500, 'india', 'Pravin']