In [1]:
class test:                             #class can have multiple functions but function can not have class
    pass

In [2]:
def test():
    pass

In [3]:
class person:
    pass
p=person()

In [4]:
p

In [5]:
p.name='sachin'

In [6]:
p.surname='Tendulkar'

In [7]:
p.dob=245678

In [8]:
q=person()

In [9]:
q.name='rahul'

In [10]:
q.surname='sharma'

In [11]:
q.dob=2233455

In [12]:
p.name='saurav'

In [13]:
p.surname='tiwari'

In [14]:
p.dob=45678

In [15]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob

In [16]:
p=person('rohit','sharma','23456')
print(p)

<__main__.person object at 0x000001CB442AAA00>

In [17]:
p1=person('pravin','katkar',2345)

In [18]:
p1.name

'pravin'

In [19]:
p.name

'rohit'

In [20]:
q.name

'rahul'

In [21]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob 
    def test(self,n,m):
        return n+m

In [22]:
p2=person('gautam','hdfcc',341)

In [23]:
p2.name

'gautam'

In [24]:
p2.test(4,5)

9

In [25]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob 
    def test(self,n,m):
        return n+m+dob

In [26]:
p2.name

'gautam'

In [27]:
p2.test(4,5)

9

In [28]:
p2.dob

341

In [29]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob 
    def test(self,n,m):
        return n+m+self.dob

In [30]:
p3=person('kakak','fhjg',456)

In [31]:
p3.test(2,2)

460

In [32]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob 
    def test(self,n,m):
        return n+m+self.dob  
    def __str__(self):
        return 'this is my class'

In [33]:
p=person('sachin','tfff',56)

In [34]:
print(p)

this is my class

In [35]:
def __str__(self):
    return 'this is my class'

In [36]:
#prefered way
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob 
    def test(self,n,m):
        return n+m+self.dob  
    def __str__(self):
        return '%s is first name and his surname is %s and dob is %d'%(self.name,self.surname,self.dob)

In [37]:
p=person('sachin','tendulkar',4567)

In [38]:
p.__dict__

{'name': 'sachin', 'surname': 'tendulkar', 'dob': 4567}

In [39]:
print(p)

sachin is first name and his surname is tendulkar and dob is 4567

In [40]:
p.test(10,3)

4580

In [41]:
class test:
    pass

In [42]:
p=test()

In [43]:
p.name='ravi'

In [44]:
p.surname='sssss'

In [45]:
p.dob=56756

In [46]:
print(p)

<__main__.test object at 0x000001CB442409A0>

In [47]:
p.name

'ravi'

In [48]:
p.surname

'sssss'

In [49]:
p.dob

56756

In [50]:
class person:
    def pass_name(self,name):
        self.name=name
    def pass_surname(self,surname):
        self.surname=surname
    def pass_dob(self,dob):
        self.dob=dob

In [51]:
p=person()

In [52]:
#p.name

In [53]:
p.pass_name('rahul')

In [54]:
p.name

'rahul'

In [55]:
class person:
    def __init__(self,name,surname,dob):
        self._name=name
        self._surname=surname
        self._dob=dob 
    def test(self,n,m):
        return n+m+self._dob  
    def __str__(self):
        return '%s is first name and his surname is %s and dob is %d'%(self.name,self.surname,self.dob)

In [56]:
p=person('shreyas','hello',68776)

In [57]:
p._name

'shreyas'

In [58]:
p.__dict__

{'_name': 'shreyas', '_surname': 'hello', '_dob': 68776}

In [59]:
dir(person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'test']

# Inheritance

In [60]:
class person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob 
    def test(self,n,m):
        return n+m+self.dob  
    def __str__(self):
        return '%s is first name and his surname is %s and dob is %d'%(self.name,self.surname,self.dob)
class student(person):
    def __init__(self,roll_no,college_name,*args):
        super(student,self).__init__(* args)
        self.roll_no=roll_no
        self.college_name=college_name

In [61]:
#student(455,'xyz')

In [62]:
stud=student(456,'xyz','sachin','tendulakar',1970)

In [63]:
stud.name

'sachin'

In [64]:
stud.surname

'tendulakar'

In [65]:
stud.college_name

'xyz'

In [66]:
stud.test(9,5)

1984

In [67]:
class a:
    def test(self):
        print("rahul is my name")

In [68]:
class b:
    def test(self):
        print("sharma is my surname")

In [69]:
class c(a,b):
    obj_a=a()
    obj_b=b()
    obj_a.test()
    obj_b.test()

rahul is my name
sharma is my surname

In [70]:
obj_c=c()
obj_c.test()

rahul is my name

In [71]:
class c(b,a):
    obj_a=a()
    obj_b=b()
    obj_a.test()
    obj_b.test()

rahul is my name
sharma is my surname

In [72]:
obj_c=c()
obj_c.test()

sharma is my surname

In [76]:
class person:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def __str__(self):
        return "my name is khan"

In [77]:
p=person(3,4,5)

In [75]:
p.a

3

In [78]:
print(p)

my name is khan

In [89]:
class student(person):
    def __init__(self,stud_id,*args):
        super(student,self).__init__(* args)
        self.stud_is=stud_id
    def __str__(self):
        return super(student,self).__str__() + ' i am student'

In [90]:
s=student(5,6,7,55)

In [91]:
print(s)

my name is khan i am student

# Encapsulation

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [5]:
class tyre:
    def __init__(self,branch,baise,opt_pre):
        self.branch=branch
        self.baise=baise
        self.opt_pre=opt_pre
    def __str__(self):
        return str(self.branch)+str(self.baise)+str(self.opt_pre)

In [6]:
t=tyre('xyx',56,33)

In [7]:
print(t)

xyx5633

In [8]:
class engine:
    def __init__(self,fuel,noise):
        self.fuel=fuel
        self.noise=noise
    def __str__(self):
        return str(self.fuel)+' '+str(self.noise)

In [9]:
e=engine('petrol',44)

In [10]:
print(e)

petrol 44

In [20]:
class body:
    def __init__(self,body_size):
        self.body_size=body_size
    def __str__(self):
        return "this is my defination of class"+" "+str(self.body_size)

In [21]:
b=body("SMALL")

In [22]:
print(b)

this is my defination of class SMALL

In [23]:
class car:
    def __init__(self,ti,ei,bi):
        self.ti=ti
        self.bi=bi
        self.ei=ei
    def __str__(self):
        return str(self.ti)+' '+str(self.ei)+' '+str(self.bi)

In [24]:
c=car("ABC",'agv','fgh')

In [26]:
print(c)

ABC agv fgh

In [27]:
c=car(t,e,b)                           #composite Encapsulation

In [28]:
print(c)

xyx5633 petrol 44 this is my defination of class SMALL

In [31]:
c1=car(t,e,"this is my def of engine class")                    #dynamic incapsulation

In [32]:
print(c1)

xyx5633 petrol 44 this is my def of engine class

# Polymorphism

In [35]:
def add(a,b):
    return a+b

In [36]:
add(4,5)

9

In [37]:
add('abc','sdf')

'abcsdf'

In [38]:
add([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
def mult(a,b):
    return a*b

In [40]:
mult(4,5)

20

In [41]:
mult('abc','sdf')

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
mult([1,2,3,4],[5,6,7,8])

TypeError: can't multiply sequence by non-int of type 'list'