In [1]:
%%writefile xyx.txt
my name is khan
dxfgvgbhbhjnjghc
rftgux hghgyubx b bd
 nbhubn nm
    db xhbh hd hw g hw
    b gxybyx b gxh gwhs
     db g h xbhs hc s
        n hx j sh c
        v h b gc v

Overwriting xyx.txt

In [2]:
from io import StringIO

In [3]:
s=input()

hello

In [4]:
s

'hello'

In [5]:
s1=StringIO(s)

In [6]:
type(s1)

_io.StringIO

In [7]:
type(s)

str

In [8]:
s1.read()

'hello'

In [9]:
s1.tell()

5

# Database Programming

In [10]:
#sql alchemy, sqlite2, MySQL , mangodb , cassandra , influx DB

In [11]:
#sqlite3

In [12]:
import sqlite3

In [13]:
c=sqlite3.connect("SUNDAY")

In [14]:
c

In [15]:
c.execute("create table abc(id int,name text,score int)")

OperationalError: table abc already exists

In [16]:
c.execute("insert into abc(id,name,score) values(345,'Pravin',84)")

In [17]:
c.execute("insert into abc(id,name,score) values(346,'katkar ',88)")

In [18]:
c.execute("insert into abc(id,name,score) values(347,'Pranav',85)")

In [19]:
c.execute("insert into abc(id,name,score) values(348,'rahul',80)")

In [20]:
c.execute('select * from abc')

In [21]:
c.commit()

In [22]:
list(c.execute('select * from abc'))

[(345, 'Pravin', 84),
 (346, 'katkar ', 88),
 (347, 'Pranav', 85),
 (348, 'rahul', 80),
 (345, 'Pravin', 84),
 (346, 'katkar ', 88),
 (347, 'Pranav', 85),
 (348, 'rahul', 80)]

In [23]:
list(c.execute('select * from abc'))[1]

(346, 'katkar ', 88)

In [24]:
list(c.execute('select * from abc'))[1][1]

'katkar '

In [25]:
for i in  c.execute('select * from abc'):
    print(i)

(345, 'Pravin', 84)
(346, 'katkar ', 88)
(347, 'Pranav', 85)
(348, 'rahul', 80)
(345, 'Pravin', 84)
(346, 'katkar ', 88)
(347, 'Pranav', 85)
(348, 'rahul', 80)

In [26]:
for i in  c.execute('select * from abc order by score'):
    print(i)

(348, 'rahul', 80)
(348, 'rahul', 80)
(345, 'Pravin', 84)
(345, 'Pravin', 84)
(347, 'Pranav', 85)
(347, 'Pranav', 85)
(346, 'katkar ', 88)
(346, 'katkar ', 88)

In [27]:
for i in  c.execute("select * from abc where name ='Pravin'"):
    print(i)

(345, 'Pravin', 84)
(345, 'Pravin', 84)