___
## Mr. Yogesh P Murumkar Mob - 9657080905

## YouTube - https://www.youtube.com/yogeshmurumkar

# Python Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course.

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
1 / 2

0.5

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [2]:
(2 + 3) * (5 + 5)

50

//python has two basic number types integers and floating point

In [6]:
1

1

In [7]:
1.0

1.0

In [8]:
2 + 3 * 5 + 5

22

### Variable Assignment

In [23]:
# Can not start with number or special characters, for python the proper syntax is to use under score
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

In [11]:
var=5

In [12]:
var

5

In [13]:
x=2
y=3

In [14]:
x+y

5

In [15]:
x=x+x

In [16]:
x

4

In [17]:
x=x+x

In [18]:
x

8

//variable name cannot start with numbers

In [20]:
12var=15

SyntaxError: invalid syntax (<ipython-input-20-f996e73a86e2>, line 1)

In [22]:
$var=14

SyntaxError: invalid syntax (<ipython-input-22-cda5b65405fc>, line 1)

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [25]:
# strings comment - there are 2 ways to use strings 1. single quote and 2. double quotes

In [26]:
"i can't go"

"i can't go"

In [27]:
x='yogesh'

In [28]:
x

'yogesh'

In [29]:
print(x)

yogesh

In [30]:
a=50
b='yogesh murumkar'

In [31]:
'My number is {} and my name is {}'.format(a,b)

'My number is 50 and my name is yogesh murumkar'

In [32]:
print('My number is {} and my name is {}'.format(a,b))

My number is 50 and my name is yogesh murumkar

In [33]:
print('My number is {one} and my name is {two}'.format(one=a,two=b))

My number is 50 and my name is yogesh murumkar

In [35]:
print('My number is {one} and my name is {two}, more {one}'.format(one=a,two=b))

My number is 50 and my name is yogesh murumkar, more 50

In [37]:
# indexing strings

In [38]:
s='hello'

In [39]:
s[0]

'h'

In [40]:
s[4]

'o'

In [41]:
s1='abcdefghijk'

In [42]:
s1[0]

'a'

In [43]:
s1[0:] #slice notation

'abcdefghijk'

In [45]:
s1[:3] #grab everything but not including character at index 3

'abc'

In [46]:
s1[0:3]

'abc'

In [48]:
s1[3:6]

'def'

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num = 12
name = 'Sam'

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists - are sequence of elements in a set of square brackets
lists can take any data type
list is also a sequence just like a string is

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [49]:
nest1=[1,2,[3,4]]

In [50]:
nest1

[1, 2, [3, 4]]

In [52]:
nest1[2]

[3, 4]

In [53]:
nest1[2][1]

4

In [3]:
nest = [1,2,3,[4,5,['target']]]

In [4]:
nest[3]

[4, 5, ['target']]

In [5]:
nest[3][2]

['target']

In [6]:
print(nest[3][2][0])

target

### Dictionaries

//dictionaries behaves as key value pairs just like a hash table

In [158]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [1]:
d['key1'] #this is a dictionary

NameError: name 'd' is not defined

In [1]:
d[2] #this will not work

NameError: name 'd' is not defined

In [2]:
d1={'k1':[1,2,3]} #dictonaries can take any items as their values

In [3]:
d1

{'k1': [1, 2, 3]}

In [6]:
d1['k1']

[1, 2, 3]

In [7]:
d1['k1'][2]

3

In [8]:
mylist1=d1['k1'] #above thing can be done like this also

In [9]:
mylist1[2]

3

In [10]:
d2={'k1':{'innerkey':[1,2,3]}} # a dictonary nested inside another dictonary

In [15]:
d2

{'k1': {'innerkey': [1, 2, 3]}}

In [16]:
d2['k1']

{'innerkey': [1, 2, 3]}

In [17]:
d2['k1']['innerkey']

[1, 2, 3]

In [18]:
d2['k1']['innerkey'][2] #dictonaries do not retain any order,they are just key-value pair matches

3

### Booleans

In [21]:
 True #capitalise T

True

In [41]:
False #capitalise F

False

### Tuples

In [42]:
t = (1,2,3) #immutable

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [22]:
mylist=[1,2,3]#remember there are lists,sequence of elements inside square brackets

In [23]:
mylist[1] #this is how u can grab items of this list using indexing

2

In [24]:
t = (1,2,3) # a tuple is similar to list,just instead of square brackets it uses parantheses

In [25]:
t[2]

3

In [26]:
mylist[1]='yogesh' # basic difference between list and tuple

In [27]:
mylist

[1, 'yogesh', 3]

In [28]:
t #if I do it for tuple it will give error

(1, 2, 3)

In [29]:
t[2]='yogesh' #this is bcoz tuples are immutable and they do not support item assignment and lists 
 # are mutable

TypeError: 'tuple' object does not support item assignment

### Sets - a set is collection of unique elements

In [45]:
{1,2,3} #it looks, coz of curly brackets,the same as dictionary except it doesnt 
#have colons but just the elements

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [35]:
set([1,2,3,2,3,2,1,2,1,2,3,1,3,2,2,3,1,2,2,1,3,1,2,3]) #you can actually call set function 
# pass in the list to grab the set of unique elements

{1, 2, 3}

In [36]:
s1={1,2,3,4} #if you want to add items to a set

In [39]:
s1.add(5)

In [40]:
s1

{1, 2, 3, 4, 5}

In [41]:
s1.add(8,9) #it gives error if I try to add more than one item

TypeError: add() takes exactly one argument (2 given)

In [44]:
s1.add(5) # if I try to add 5 again it wont retrieve the error but it just keeps the list same 
# as only one instance of 5 is allowed inside a set

In [43]:
s1.

{1, 2, 3, 4, 5}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [46]:
1==2

False

In [47]:
1=2 # it will show error as = is an assignment operator

SyntaxError: can't assign to literal (<ipython-input-47-39a409cb4b2b>, line 1)

In [48]:
1!=2 #not equal to operator

True

In [52]:
'hi' == 'bye' # same things can be done with strings

False

In [49]:
'hi'!='bye'

True

## Logic Operators

In [53]:
(1 > 2) and (2 < 3) #make use of parantheses so that its more readable

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [52]:
if 1 < 2:
    print('Yes!') # note that there is a block of white space before print which very important 
        # in Python. In python, brackets are not used in order to seperate block execution statements
        # it uses white space instead

Yes!

In [68]:
if 2<1:
    print('result')

In [54]:
if 2==2:
    print("yogesh murumkar")

yogesh murumkar

In [60]:
if True:
    print('execute the code')

execute the code

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [65]:
if True:
    x=2+5

In [67]:
x

7

In [69]:
if 1 > 2:
    print('first')
else:
    print('last')

first

In [70]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [72]:
if 1!=2:
    print("yogesh")
else:
    print("murumkar")

yogesh

In [73]:
if 1==2:
    print('yogesh')
else:
    print('murumkar')

murumkar

In [74]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [75]:
# even though there are more than one condition true here,but only first instance of the 
# condition being true is executed 
if 1==2:
    print('first')
elif 5==5:
    print('second')
elif 6==6:
    print('third')
else :
    print('fourth')

second

## for Loops - allow you to iterate through a sequence

In [2]:
seq = [1,2,3,4,5]

In [3]:
for i in seq[:2]:
    print(i)

1
2

In [81]:
for item in seq:
    print('Yes')

Yes
Yes
Yes
Yes
Yes

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range() - is a generator function

In [87]:
range(5) #bydefault the starting number is zero

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [84]:
list(range(5)) #if u actually want this as to be a list

[0, 1, 2, 3, 4]

## list comprehension - it allows you to save a bunch of writing when you # try to create a for loop to create a list

In [90]:
x = [1,2,3,4]

In [92]:
out = [] # its an empty list
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [91]:
[item**2 for item in x]

[1, 4, 9, 16]

In [93]:
out=[item**2 for item in x]

In [94]:
out

[1, 4, 9, 16]

## functions - it allows you not write code over and over again

In [104]:
def my_func(param1='yogesh'):
    """
    Docstring goes here.
    """
    print(param1)

In [98]:
my_func

In [105]:
my_func()

yogesh

In [106]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [4]:
def square(x):
    return x**2

In [5]:
square(5)

25

In [79]:
print(out)

4

In [107]:
def my_fun(param1):
    print(param1)

In [108]:
my_fun('yogesh')

yogesh

In [118]:
def my_fun1(name):
    print('Hello '+name)

In [119]:
my_fun1('yogesh')

Hello yogesh

In [120]:
def my_fun1(name='Default Name'):
    print('Hello '+name)

In [122]:
my_fun1()

Hello Default Name

In [124]:
my_fun1('Pune') # or my_fun1(name='Pune') or as long as you put the values in the correct order then following 
# is also fine
# my_fun1('Pune')

Hello Pune

In [125]:
my_fun1 # it doesnt mean we are calling the function but it means like asking python hey what is
# this object and it will report back, oh thats an object a main function called .my_fun1()

In [128]:
def mul2(num):
    return num*2

In [129]:
output = mul2(4)

In [130]:
output

8

In [135]:
def mul2(num):
    """
    This is for documentaion string
    it like a multi line comment
    triple enclosing quotes are used for it
    
    mul2 function multiplies every number by 2
    and returns result 
    
    at the end of the function press shift + tab
    to make good use of documentation string
    """
    return num*2

In [136]:
out1=mul2(5)

In [137]:
out1

10

In [139]:
mul2(2) # try pressing shift + tab now

4

In [ ]:
range #press shift tab after range and see the use of documentation string

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [6]:
lambda x: x**2

In [10]:
t=lambda var:var**2

In [11]:
t

In [12]:
print(t)

<function <lambda> at 0x000002BB208779D8>

In [13]:
t(5)

25

## map and filter

In [16]:
seq = [1,2,3,4,5]

In [17]:
map(square,seq)

In [20]:
tuple(map(square,seq))

(1, 4, 9, 16, 25)

In [141]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [24]:
st = 'hello,my name is,Yogesh'

In [22]:
st.upper()

'HELLO MY NAME IS YOGESH'

In [149]:
st.upper()

'HELLO MY NAME IS YOGESH'

In [25]:
st.split(',') #split method by default will split the string on all the white spaces of that string

['hello', 'my name is', 'Yogesh']

In [153]:
tweet = 'Go Sports! #Sports'

In [154]:
tweet.split() # split is done based on white space

['Go', 'Sports!', '#Sports']

In [155]:
tweet.split('#') # split can be done based on a particular element

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [159]:
d

{'key1': 'item1', 'key2': 'item2'}

In [160]:
d.keys()

dict_keys(['key1', 'key2'])

In [161]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [163]:
d.values()

dict_values(['item1', 'item2'])

In [165]:
d.popitem()

('key2', 'item2')

In [166]:
lst = [1,2,3]

In [167]:
lst.pop() #it will pop or return last item in the list

3

In [169]:
lst #now calling list after pop,this change is permanent

[1, 2]

In [170]:
lst=[1,2,3,4,5]

In [171]:
lst

[1, 2, 3, 4, 5]

In [172]:
item=lst.pop()

In [181]:
lst # now check that the last element is popped from the list and that change is permanent

[3, 4]

In [174]:
item #last element will be assignmed to this variable

5

In [178]:
first=lst.pop(0) # we can even pass the index of the element to be popped from the list

In [182]:
first

2

In [180]:
lst

[3, 4]

In [183]:
lst.append('yogesh')

In [184]:
lst

[3, 4, 'yogesh']

In [185]:
lst=[2,3,4]

In [186]:
lst

[2, 3, 4]

In [187]:
'x' in [1,2,3]

False

In [188]:
'x' in ['x','y','z']

True

Tuple unpacking

In [189]:
x=[(1,2),(3,4),(5,6)]

In [190]:
x

[(1, 2), (3, 4), (5, 6)]

In [191]:
x[0]

(1, 2)

In [192]:
x[0][0]

1

In [194]:
x[0][1]

2

In [195]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [197]:
for (a,b) in x:
    print(a)

1
3
5

In [198]:
for (a,b) in x: # note that parantheses around a,b are just a formality
    print(b)

2
4
6

In [199]:
for a,b in x:
    print(a)

1
3
5

In [200]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

# Great Job!