1.arrrage str that lowercase char comes first

In [ ]:
x=""
y=""
a=input("ENter your string: ")
n=len(a)
for i in range(0,n):
    if (a[i]==a[i].lower()):
        x=x+a[i]
    elif (a[i]==a[i].upper()):
        y=y+a[i]
print(x+y)

2.count occurencess of all character

In [2]:
from collections import Counter  
str1 =input("enter your string:")
res = Counter(str1) 
print ("Count of all characters in string is :\n "+  str(res))

enter your string: pravinn

Count of all characters in string is :
 Counter({'n': 2, 'p': 1, 'r': 1, 'a': 1, 'v': 1, 'i': 1})

3.create third list by pickinng odd index from first list and even index from second list

In [1]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,11]
list3=list()
odd_index=list1[1::2]
even_index=list2[0::2]
list3.extend(odd_index)
list3.extend(even_index)
print(list3)

[2, 4, 6, 8, 11]

4.Given a list slice it into 3 equal chunks and reverse each list

In [9]:
list=[1,2,3,4,5,6,7,8,9]
chunk1=slice(3)
chunk2=slice(3,6)
chunk3=slice(6,9)
list1=list[chunk1]
list1.reverse()
list2=list[chunk2]
list2.reverse()
list3=list[chunk3]
list3.reverse()
print(list1)
print(list2)
print(list3)

[3, 2, 1]
[6, 5, 4]
[9, 8, 7]

5.Given a following two sets find the intersection and remove those elements from the first set

In [8]:
set1={10,20,30,40,50}
set2={30,40,50,60,60}
res=set1.intersection(set2)
print(res)
print(set1-res)

{40, 50, 30}
{10, 20}

6.Remove duplicate from a list and create a tuple and find the minimum and maximum number

In [10]:
list=[1,2,4,5,2,1,6]
set1=set(list)
print(set1)
tuple1=tuple(list)
print(tuple1)
print("maximum number is:",max(tuple1))
print("minimum number is:",min(tuple1))

{1, 2, 4, 5, 6}
(1, 2, 4, 5, 2, 1, 6)
maximum number is: 6
minimum number is: 1

7.Armstrong number is a number that is equal to the sum of cubes of its digits. For example, 0, 1, 153, 370, 371 and 407 are the Armstrong numbers. Write a program to check if the input number is Armstrong number or not?

In [7]:
num=int(input("enter any number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum=sum+digit**3
    temp=temp//10
if(num==sum):
    print("given number is armstrong:")
else:
    print("given number is not armstrong")

enter any number: 153

given number is armstrong:

8 .We have two events and some guests are expected to attend it. Find out which members attended only one event and not the other.

In [5]:
set1={10,20,30,40,50}
set2={30,40,50,60,60}
print(set1.difference(set2))

{10, 20}

9.Create a module to generate Fibonacci series. Import the module and test the code.

In [4]:
def fibo(k):
    n1=0
    n2=1
    print(n1)
    print(n2)
    for i in range(k):
        n3=n1+n2
        print(n3)
        n1=n2
        n2=n3
        return
fibo(10)

0
1
1
2
3
5
8
13
21
34
55
89

10.What is the difference between 2 weeks, 5day, 1 hour and 33 seconds to 4 days, 11 hrs., 4 minutes and 54 seconds

11.Calculate the weekly wages per hours in dollars and if the overtime is above 40 then calculate overtime Using formula: - totalWages = hourlyWage*40 + (1.5*hourlyWage) *overtime and wages using formula: - totalWages = hourlyWage*totalHours

In [ ]:
hours = int(input('how many hours did you work? '))
rate = 1.5
totalrate = (hours/2)+hours*(rate+1.5)
if (hours<40):
 print("you earn:",totalrate)

else:
    overhours=hours-40
    overtime=overhours*rate
    totalWages = totalrate + overtime
    print("you earn:",totalWages)