In [1]:
import pandas as pd

# Fetching csv file from machine

In [2]:
df=pd.read_csv('hotel_bookings.csv')
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,2015-07-05
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,No Deposit,241.0,NaN,0,Transient,97.29,0,1,Check-Out,2015-07-06
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,2015-07-07
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out,2015-07-01
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,2015-07-08
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,2015-07-08
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,2015-05-11
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,94.00,0,0,Check-Out,2015-07-08
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,87.30,1,1,Check-Out,2015-07-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119360,City Hotel,0,195,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,117.00,0,1,Check-Out,2017-09-04
119361,City Hotel,0,100,2017,August,35,31,1,3,2,...,No Deposit,16.0,NaN,0,Transient,95.85,0,0,Check-Out,2017-09-04
119362,City Hotel,0,198,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,119.17,0,2,Check-Out,2017-09-04
119363,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,92.17,0,1,Check-Out,2017-09-04
119364,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,92.17,0,2,Check-Out,2017-09-04
119365,City Hotel,0,54,2017,August,35,27,3,5,1,...,No Deposit,14.0,NaN,0,Transient,266.75,0,1,Check-Out,2017-09-04
119366,City Hotel,0,210,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,85.59,0,1,Check-Out,2017-09-04
119367,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,85.59,0,0,Check-Out,2017-09-04
119368,City Hotel,0,261,2017,August,35,30,1,4,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2017-09-04
119369,City Hotel,0,207,2017,August,34,25,3,7,2,...,No Deposit,14.0,NaN,0,Transient,96.25,0,2,Check-Out,2017-09-04
119370,City Hotel,0,201,2017,August,35,30,1,4,1,...,No Deposit,9.0,NaN,0,Transient,108.00,0,2,Check-Out,2017-09-04
119371,City Hotel,0,175,2017,August,35,31,1,3,2,...,No Deposit,42.0,NaN,0,Transient,86.85,0,2,Check-Out,2017-09-04
119372,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04
119374,City Hotel,0,201,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,117.00,0,2,Check-Out,2017-09-04
119375,City Hotel,0,200,2017,August,35,30,1,4,2,...,No Deposit,16.0,NaN,0,Transient,85.50,0,1,Check-Out,2017-09-04
119376,City Hotel,0,165,2017,August,35,29,1,5,3,...,No Deposit,9.0,NaN,0,Transient,209.25,0,3,Check-Out,2017-09-04
119377,City Hotel,0,185,2017,August,35,30,1,4,2,...,No Deposit,9.0,NaN,0,Transient,99.00,0,1,Check-Out,2017-09-04
119378,City Hotel,0,247,2017,August,35,31,1,3,2,...,No Deposit,42.0,NaN,0,Transient,86.85,0,0,Check-Out,2017-09-04
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,155.00,0,1,Check-Out,2017-09-04
119380,City Hotel,0,44,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,140.75,0,1,Check-Out,2017-09-04
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2017-09-05
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,No Deposit,7.0,NaN,0,Transient,209.00,0,0,Check-Out,2017-09-05
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,No Deposit,42.0,NaN,0,Transient,87.60,0,0,Check-Out,2017-09-06
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,2,Check-Out,2017-09-06
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

# get csv data from url

In [24]:
import requests
from io import StringIO
url="https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/IPL%20Matches%202008-2020.csv"
req=requests.get(url).text
data =  StringIO(req)

df1=pd.read_csv(data)
df1

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,N,NaN,IL Howell,AM Saheba
7,335989,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,Hyderabad,2008-04-24,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,Asad Rauf,MR Benson
9,335991,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba
10,335992,Bangalore,2008-04-26,SR Watson,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,MR Benson,IL Howell
11,335993,Chennai,2008-04-26,JDP Oram,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,bat,Chennai Super Kings,wickets,9.0,N,NaN,BF Bowden,AV Jayaprakash
12,335994,Mumbai,2008-04-27,AC Gilchrist,Dr DY Patil Sports Academy,0,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,10.0,N,NaN,Asad Rauf,SL Shastri
13,335995,Chandigarh,2008-04-27,SM Katich,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,bat,Kings XI Punjab,wickets,4.0,N,NaN,RE Koertzen,I Shivram
14,335996,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
15,335997,Kolkata,2008-04-29,ST Jayasuriya,Eden Gardens,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,7.0,N,NaN,BF Bowden,AV Jayaprakash
16,335998,Delhi,2008-04-30,GD McGrath,Feroz Shah Kotla,0,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Delhi Daredevils,runs,10.0,N,NaN,Aleem Dar,I Shivram
17,335999,Hyderabad,2008-05-01,SE Marsh,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,7.0,N,NaN,BR Doctrove,RB Tiffin
18,336000,Jaipur,2008-05-01,SA Asnodkar,Sawai Mansingh Stadium,0,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,Rajasthan Royals,runs,45.0,N,NaN,RE Koertzen,GA Pratapkumar
19,336001,Chennai,2008-05-02,V Sehwag,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Delhi Daredevils,wickets,8.0,N,NaN,BF Bowden,K Hariharan
20,336002,Hyderabad,2008-05-25,R Vinay Kumar,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,Asad Rauf,RE Koertzen
21,336003,Chandigarh,2008-05-03,IK Pathan,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab,bat,Kings XI Punjab,runs,9.0,N,NaN,DJ Harper,I Shivram
22,336004,Mumbai,2008-05-04,SM Pollock,Dr DY Patil Sports Academy,0,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians,runs,29.0,N,NaN,IL Howell,RE Koertzen
23,336005,Jaipur,2008-05-04,Sohail Tanvir,Sawai Mansingh Stadium,0,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,bat,Rajasthan Royals,wickets,8.0,N,NaN,Asad Rauf,AV Jayaprakash
24,336006,Bangalore,2008-05-05,S Sreesanth,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,N,NaN,SJ Davis,BR Doctrove
25,336007,Chennai,2008-05-06,AC Gilchrist,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,7.0,N,NaN,MR Benson,RB Tiffin
26,336008,Mumbai,2008-05-07,A Nehra,Dr DY Patil Sports Academy,0,Mumbai Indians,Rajasthan Royals,Mumbai Indians,field,Mumbai Indians,wickets,7.0,N,NaN,DJ Harper,RE Koertzen
27,336009,Delhi,2008-05-08,MS Dhoni,Feroz Shah Kotla,0,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,4.0,N,NaN,Aleem Dar,RB Tiffin
28,336010,Kolkata,2008-05-08,SC Ganguly,Eden Gardens,0,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,5.0,N,NaN,Asad Rauf,IL Howell
29,336011,Jaipur,2008-05-09,YK Pathan,Sawai Mansingh Stadium,0,Rajasthan Royals,Deccan Chargers,Rajasthan Royals,field,Rajasthan Royals,wickets,8.0,N,NaN,MR Benson,AM Saheba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,1216522,Dubai,2020-10-17,AB de Villiers,Dubai International Cricket Stadium,0,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,bat,Royal Challengers Bangalore,wickets,7.0,N,NaN,AK Chaudhary,Nitin Menon
787,1216523,Abu Dhabi,2020-10-10,KD Karthik,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,2.0,N,NaN,UV Gandhe,CB Gaffaney
788,1216524,Dubai,2020-10-27,WP Saha,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,88.0,N,NaN,AK Chaudhary,Nitin Menon
789,1216525,Dubai,2020-10-10,V Kohli,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,37.0,N,NaN,AK Chaudhary,PR Reiffel
790,1216526,Abu Dhabi,2020-10-16,Q de Kock,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,8.0,N,NaN,CB Gaffaney,VK Sharma
791,1216527,Sharjah,2020-09-27,SV Samson,Sharjah Cricket Stadium,0,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,N,NaN,RK Illingworth,K Srinivasan
792,1216528,Dubai,2020-10-13,RA Jadeja,Dubai International Cricket Stadium,0,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,Chennai Super Kings,runs,20.0,N,NaN,AK Chaudhary,PR Reiffel
793,1216529,Abu Dhabi,2020-10-11,Q de Kock,Sheikh Zayed Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,S Ravi
794,1216530,Dubai,2020-11-01,PJ Cummins,Dubai International Cricket Stadium,0,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Kolkata Knight Riders,runs,60.0,N,NaN,Nitin Menon,PR Reiffel
795,1216531,Sharjah,2020-10-15,KL Rahul,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,Kings XI Punjab,wickets,8.0,N,NaN,KN Ananthapadmanabhan,C Shamshuddin
796,1216532,Abu Dhabi,2020-09-29,Rashid Khan,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,15.0,N,NaN,VK Sharma,S Ravi
797,1216533,Abu Dhabi,2020-10-19,JC Buttler,Sheikh Zayed Stadium,0,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
798,1216534,Dubai,2020-09-21,YS Chahal,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Royal Challengers Bangalore,runs,10.0,N,NaN,AY Dandekar,Nitin Menon
799,1216535,Dubai,2020-10-31,Ishan Kishan,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,YC Barde,PR Reiffel
800,1216536,Dubai,2020-10-29,RD Gaikwad,Dubai International Cricket Stadium,0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,N,NaN,C Shamshuddin,RK Illingworth
801,1216537,Abu Dhabi,2020-10-30,BA Stokes,Sheikh Zayed Stadium,0,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,S Ravi
802,1216538,Sharjah,2020-10-04,TA Boult,Sharjah Cricket Stadium,0,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,runs,34.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
803,1216539,Dubai,2020-09-25,PP Shaw,Dubai International Cricket Stadium,0,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Delhi Capitals,runs,44.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
804,1216540,Sharjah,2020-10-12,AB de Villiers,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,82.0,N,NaN,RK Illingworth,K Srinivasan
805,1216541,Abu Dhabi,2020-10-25,BA Stokes,Sheikh Zayed Stadium,0,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,Rajasthan Royals,wickets,8.0,N,NaN,UV Gandhe,VK Sharma
806,1216542,Dubai,2020-10-08,JM Bairstow,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,69.0,N,NaN,AK Chaudhary,Nitin Menon
807,1216543,Dubai,2020-10-14,A Nortje,Dubai International Cricket Stadium,0,Delhi Capitals,Rajasthan Royals,Delhi Capitals,bat,Delhi Capitals,runs,13.0,N,NaN,AK Chaudhary,Nitin Menon
808,1216544,Dubai,2020-10-25,RD Gaikwad,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Chennai Super Kings,wickets,8.0,N,NaN,C Shamshuddin,RK Illingworth
809,1216545,Abu Dhabi,2020-09-26,Shubman Gill,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
810,1216546,Dubai,2020-10-20,S Dhawan,Dubai International Cricket Stadium,0,Delhi Capitals,Kings XI Punjab,Delhi Capitals,bat,Kings XI Punjab,wickets,5.0,N,NaN,C Shamshuddin,RK Illingworth
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

# Sep parameter And column names given

In [22]:
df2=pd.read_csv('movie_titles_metadata.tsv',sep='\t',names=['sno','name','relesed_year','rating','votes','genres'])
df2

,sno,name,relesed_year,rating,votes,genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
5,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...
6,m6,8mm,1999,6.3,48212.0,['crime' 'mystery' 'thriller']
7,m7,a nightmare on elm street 4: the dream master,1988,5.2,13590.0,['fantasy' 'horror' 'thriller']
8,m8,a nightmare on elm street: the dream child,1989,4.7,11092.0,['fantasy' 'horror' 'thriller']
9,m9,the atomic submarine,1959,4.9,513.0,['sci-fi' 'thriller']
10,m10,affliction,1997,6.9,7252.0,['drama' 'mystery' 'thriller']
11,m11,air force one,1997,6.3,61978.0,['action' 'drama' 'thriller']
12,m12,airplane ii: the sequel,1982,5.8,15210.0,['comedy' 'romance' 'sci-fi']
13,m13,airplane!,1980,7.8,57692.0,['comedy' 'romance']
14,m14,alien nation,1988,6.1,5590.0,['crime' 'drama' 'sci-fi' 'thriller']
15,m15,aliens,1986,8.5,173518.0,['action' 'sci-fi' 'thriller']
16,m16,amadeus,1984,8.4,99138.0,['biography' 'drama' 'music']
17,m17,an american werewolf in london,1981,7.5,24443.0,['horror' 'romance']
18,m18,american madness,1932,7.4,702.0,['drama']
19,m19,american outlaws,2001,5.7,7425.0,['action' 'western']
20,m20,american psycho,2000,7.4,101357.0,['drama' 'thriller']
21,m21,antitrust,2001,6.0,16453.0,['drama' 'thriller']
22,m22,austin powers: international man of mystery,1997,7.1,75240.0,['action' 'adventure' 'comedy' 'crime']
23,m23,the avengers,1998,3.4,21519.0,['action' 'adventure' 'thriller']
24,m24,bachelor party,1984,5.9,14050.0,['comedy' 'romance']
25,m25,backdraft,1991,6.6,28541.0,['action' 'crime' 'drama' 'mystery' 'thriller']
26,m26,bad lieutenant,1992,6.9,13908.0,['crime' 'drama']
27,m27,bamboozled,2000,6.3,5995.0,['comedy' 'drama' 'music']
28,m28,barry lyndon,1975,8.1,40622.0,['drama' 'romance' 'war']
29,m29,basic,2003,6.3,26295.0,['crime' 'drama' 'mystery' 'thriller']
...,...,...,...,...,...,...
587,m587,twelve monkeys,1995,8.1,173320.0,['mystery' 'sci-fi' 'thriller']
588,m588,u-turn,1973,5.8,37.0,['drama']
589,m589,u turn,1997,6.7,25388.0,['crime' 'drama' 'thriller']
590,m590,unbreakable,2000,7.3,98767.0,['drama' 'fantasy' 'mystery' 'thriller']
591,m591,unforgiven,1992,8.3,101270.0,['drama' 'western']
592,m592,the usual suspects,1995,8.7,272137.0,['crime' 'mystery' 'thriller']
593,m593,verdict,1974,5.7,135.0,['drama']
594,m594,vertigo,1958,8.6,93524.0,['crime' 'mystery' 'romance' 'thriller']
595,m595,very bad things,1998,6.0,22977.0,['comedy' 'crime' 'thriller']
596,m596,viridiana,1961,8.2,6288.0,['drama']
597,m597,virtuosity,1995,5.3,11191.0,['action' 'crime' 'sci-fi' 'thriller']
598,m598,wag the dog,1997,7.1,36448.0,['comedy' 'drama']
599,m599,wall street,1987,7.3,39082.0,['crime' 'drama']
600,m600,waxwork,1988,6.0,2596.0,['comedy' 'fantasy' 'horror']
601,m601,what lies beneath,2000,6.5,46195.0,['drama' 'horror' 'mystery' 'thriller']
602,m602,what women want,2000,6.3,55269.0,['comedy' 'fantasy' 'romance']
603,m603,the witching hour,1996,6.5,69.0,['documentary' 'short']
604,m604,white angel,1994,4.4,99.0,['drama' 'thriller']
605,m605,who's your daddy?,2003/I,4.5,2267.0,['comedy']
606,m606,wild things,1998,6.6,40523.0,['crime' 'mystery' 'thriller']
607,m607,wild wild west,1999,4.3,54943.0,['action' 'western' 'comedy' 'sci-fi']
608,m608,willow,1988,7.1,33506.0,['action' 'adventure' 'drama' 'fantasy' 'roman...
609,m609,witness,1985,7.6,30705.0,['drama' 'romance' 'thriller']
610,m610,the wizard of oz,1939,8.3,104873.0,['adventure' 'family' 'fantasy' 'musical']
611,m611,the world is not enough,1999,6.3,60047.0,['action' 'adventure' 'thriller']
612,m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
613,m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
614,m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
615,m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
616,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']

# Index_col parameter

In [25]:
df3=pd.read_csv('movie_titles_metadata.tsv',sep='\t',names=['sno','name','relesed_year','rating','votes','genres'],index_col='sno')
df3

,name,relesed_year,rating,votes,genres
sno,,,,,
m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...
m6,8mm,1999,6.3,48212.0,['crime' 'mystery' 'thriller']
m7,a nightmare on elm street 4: the dream master,1988,5.2,13590.0,['fantasy' 'horror' 'thriller']
m8,a nightmare on elm street: the dream child,1989,4.7,11092.0,['fantasy' 'horror' 'thriller']
m9,the atomic submarine,1959,4.9,513.0,['sci-fi' 'thriller']
m10,affliction,1997,6.9,7252.0,['drama' 'mystery' 'thriller']
m11,air force one,1997,6.3,61978.0,['action' 'drama' 'thriller']
m12,airplane ii: the sequel,1982,5.8,15210.0,['comedy' 'romance' 'sci-fi']
m13,airplane!,1980,7.8,57692.0,['comedy' 'romance']
m14,alien nation,1988,6.1,5590.0,['crime' 'drama' 'sci-fi' 'thriller']
m15,aliens,1986,8.5,173518.0,['action' 'sci-fi' 'thriller']
m16,amadeus,1984,8.4,99138.0,['biography' 'drama' 'music']
m17,an american werewolf in london,1981,7.5,24443.0,['horror' 'romance']
m18,american madness,1932,7.4,702.0,['drama']
m19,american outlaws,2001,5.7,7425.0,['action' 'western']
m20,american psycho,2000,7.4,101357.0,['drama' 'thriller']
m21,antitrust,2001,6.0,16453.0,['drama' 'thriller']
m22,austin powers: international man of mystery,1997,7.1,75240.0,['action' 'adventure' 'comedy' 'crime']
m23,the avengers,1998,3.4,21519.0,['action' 'adventure' 'thriller']
m24,bachelor party,1984,5.9,14050.0,['comedy' 'romance']
m25,backdraft,1991,6.6,28541.0,['action' 'crime' 'drama' 'mystery' 'thriller']
m26,bad lieutenant,1992,6.9,13908.0,['crime' 'drama']
m27,bamboozled,2000,6.3,5995.0,['comedy' 'drama' 'music']
m28,barry lyndon,1975,8.1,40622.0,['drama' 'romance' 'war']
m29,basic,2003,6.3,26295.0,['crime' 'drama' 'mystery' 'thriller']
...,...,...,...,...,...
m587,twelve monkeys,1995,8.1,173320.0,['mystery' 'sci-fi' 'thriller']
m588,u-turn,1973,5.8,37.0,['drama']
m589,u turn,1997,6.7,25388.0,['crime' 'drama' 'thriller']
m590,unbreakable,2000,7.3,98767.0,['drama' 'fantasy' 'mystery' 'thriller']
m591,unforgiven,1992,8.3,101270.0,['drama' 'western']
m592,the usual suspects,1995,8.7,272137.0,['crime' 'mystery' 'thriller']
m593,verdict,1974,5.7,135.0,['drama']
m594,vertigo,1958,8.6,93524.0,['crime' 'mystery' 'romance' 'thriller']
m595,very bad things,1998,6.0,22977.0,['comedy' 'crime' 'thriller']
m596,viridiana,1961,8.2,6288.0,['drama']
m597,virtuosity,1995,5.3,11191.0,['action' 'crime' 'sci-fi' 'thriller']
m598,wag the dog,1997,7.1,36448.0,['comedy' 'drama']
m599,wall street,1987,7.3,39082.0,['crime' 'drama']
m600,waxwork,1988,6.0,2596.0,['comedy' 'fantasy' 'horror']
m601,what lies beneath,2000,6.5,46195.0,['drama' 'horror' 'mystery' 'thriller']
m602,what women want,2000,6.3,55269.0,['comedy' 'fantasy' 'romance']
m603,the witching hour,1996,6.5,69.0,['documentary' 'short']
m604,white angel,1994,4.4,99.0,['drama' 'thriller']
m605,who's your daddy?,2003/I,4.5,2267.0,['comedy']
m606,wild things,1998,6.6,40523.0,['crime' 'mystery' 'thriller']
m607,wild wild west,1999,4.3,54943.0,['action' 'western' 'comedy' 'sci-fi']
m608,willow,1988,7.1,33506.0,['action' 'adventure' 'drama' 'fantasy' 'roman...
m609,witness,1985,7.6,30705.0,['drama' 'romance' 'thriller']
m610,the wizard of oz,1939,8.3,104873.0,['adventure' 'family' 'fantasy' 'musical']
m611,the world is not enough,1999,6.3,60047.0,['action' 'adventure' 'thriller']
m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']

# Header Parameter

In [32]:
header=pd.read_csv(r'C:\Users\Shree\Desktop\header_parameter.csv')
header

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,0,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
1,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
2,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
3,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
4,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

In [31]:
header=pd.read_csv(r'C:\Users\Shree\Desktop\header_parameter.csv',header=1)
header

,0,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
1,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
2,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
3,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

# use colum Parameter

In [34]:
df2=pd.read_csv('movie_titles_metadata.tsv',sep='\t',names=['sno','name','relesed_year','rating','votes','genres'])
df2

,sno,name,relesed_year,rating,votes,genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
5,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...
6,m6,8mm,1999,6.3,48212.0,['crime' 'mystery' 'thriller']
7,m7,a nightmare on elm street 4: the dream master,1988,5.2,13590.0,['fantasy' 'horror' 'thriller']
8,m8,a nightmare on elm street: the dream child,1989,4.7,11092.0,['fantasy' 'horror' 'thriller']
9,m9,the atomic submarine,1959,4.9,513.0,['sci-fi' 'thriller']
10,m10,affliction,1997,6.9,7252.0,['drama' 'mystery' 'thriller']
11,m11,air force one,1997,6.3,61978.0,['action' 'drama' 'thriller']
12,m12,airplane ii: the sequel,1982,5.8,15210.0,['comedy' 'romance' 'sci-fi']
13,m13,airplane!,1980,7.8,57692.0,['comedy' 'romance']
14,m14,alien nation,1988,6.1,5590.0,['crime' 'drama' 'sci-fi' 'thriller']
15,m15,aliens,1986,8.5,173518.0,['action' 'sci-fi' 'thriller']
16,m16,amadeus,1984,8.4,99138.0,['biography' 'drama' 'music']
17,m17,an american werewolf in london,1981,7.5,24443.0,['horror' 'romance']
18,m18,american madness,1932,7.4,702.0,['drama']
19,m19,american outlaws,2001,5.7,7425.0,['action' 'western']
20,m20,american psycho,2000,7.4,101357.0,['drama' 'thriller']
21,m21,antitrust,2001,6.0,16453.0,['drama' 'thriller']
22,m22,austin powers: international man of mystery,1997,7.1,75240.0,['action' 'adventure' 'comedy' 'crime']
23,m23,the avengers,1998,3.4,21519.0,['action' 'adventure' 'thriller']
24,m24,bachelor party,1984,5.9,14050.0,['comedy' 'romance']
25,m25,backdraft,1991,6.6,28541.0,['action' 'crime' 'drama' 'mystery' 'thriller']
26,m26,bad lieutenant,1992,6.9,13908.0,['crime' 'drama']
27,m27,bamboozled,2000,6.3,5995.0,['comedy' 'drama' 'music']
28,m28,barry lyndon,1975,8.1,40622.0,['drama' 'romance' 'war']
29,m29,basic,2003,6.3,26295.0,['crime' 'drama' 'mystery' 'thriller']
...,...,...,...,...,...,...
587,m587,twelve monkeys,1995,8.1,173320.0,['mystery' 'sci-fi' 'thriller']
588,m588,u-turn,1973,5.8,37.0,['drama']
589,m589,u turn,1997,6.7,25388.0,['crime' 'drama' 'thriller']
590,m590,unbreakable,2000,7.3,98767.0,['drama' 'fantasy' 'mystery' 'thriller']
591,m591,unforgiven,1992,8.3,101270.0,['drama' 'western']
592,m592,the usual suspects,1995,8.7,272137.0,['crime' 'mystery' 'thriller']
593,m593,verdict,1974,5.7,135.0,['drama']
594,m594,vertigo,1958,8.6,93524.0,['crime' 'mystery' 'romance' 'thriller']
595,m595,very bad things,1998,6.0,22977.0,['comedy' 'crime' 'thriller']
596,m596,viridiana,1961,8.2,6288.0,['drama']
597,m597,virtuosity,1995,5.3,11191.0,['action' 'crime' 'sci-fi' 'thriller']
598,m598,wag the dog,1997,7.1,36448.0,['comedy' 'drama']
599,m599,wall street,1987,7.3,39082.0,['crime' 'drama']
600,m600,waxwork,1988,6.0,2596.0,['comedy' 'fantasy' 'horror']
601,m601,what lies beneath,2000,6.5,46195.0,['drama' 'horror' 'mystery' 'thriller']
602,m602,what women want,2000,6.3,55269.0,['comedy' 'fantasy' 'romance']
603,m603,the witching hour,1996,6.5,69.0,['documentary' 'short']
604,m604,white angel,1994,4.4,99.0,['drama' 'thriller']
605,m605,who's your daddy?,2003/I,4.5,2267.0,['comedy']
606,m606,wild things,1998,6.6,40523.0,['crime' 'mystery' 'thriller']
607,m607,wild wild west,1999,4.3,54943.0,['action' 'western' 'comedy' 'sci-fi']
608,m608,willow,1988,7.1,33506.0,['action' 'adventure' 'drama' 'fantasy' 'roman...
609,m609,witness,1985,7.6,30705.0,['drama' 'romance' 'thriller']
610,m610,the wizard of oz,1939,8.3,104873.0,['adventure' 'family' 'fantasy' 'musical']
611,m611,the world is not enough,1999,6.3,60047.0,['action' 'adventure' 'thriller']
612,m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
613,m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
614,m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
615,m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
616,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']

In [35]:
df2=pd.read_csv('movie_titles_metadata.tsv',sep='\t',names=['sno','name','relesed_year','rating','votes','genres'],usecols=['sno','name','relesed_year','rating'])
df2

      sno                                           name relesed_year  rating
0      m0                     10 things i hate about you         1999     6.9
1      m1                     1492: conquest of paradise         1992     6.2
2      m2                                     15 minutes         2001     6.1
3      m3                          2001: a space odyssey         1968     8.4
4      m4                                        48 hrs.         1982     6.9
5      m5                              the fifth element         1997     7.5
6      m6                                            8mm         1999     6.3
7      m7  a nightmare on elm street 4: the dream master         1988     5.2
8      m8     a nightmare on elm street: the dream child         1989     4.7
9      m9                           the atomic submarine         1959     4.9
10    m10                                     affliction         1997     6.9
11    m11                                  air force one         1997     6.3
12    m12                        airplane ii: the sequel         1982     5.8
13    m13                                      airplane!         1980     7.8
14    m14                                   alien nation         1988     6.1
15    m15                                         aliens         1986     8.5
16    m16                                        amadeus         1984     8.4
17    m17                 an american werewolf in london         1981     7.5
18    m18                               american madness         1932     7.4
19    m19                               american outlaws         2001     5.7
20    m20                                american psycho         2000     7.4
21    m21                                      antitrust         2001     6.0
22    m22    austin powers: international man of mystery         1997     7.1
23    m23                                   the avengers         1998     3.4
24    m24                                 bachelor party         1984     5.9
25    m25                                      backdraft         1991     6.6
26    m26                                 bad lieutenant         1992     6.9
27    m27                                     bamboozled         2000     6.3
28    m28                                   barry lyndon         1975     8.1
29    m29                                          basic         2003     6.3
..    ...                                            ...          ...     ...
587  m587                                 twelve monkeys         1995     8.1
588  m588                                         u-turn         1973     5.8
589  m589                                         u turn         1997     6.7
590  m590                                    unbreakable         2000     7.3
591  m591                                     unforgiven         1992     8.3
592  m592                             the usual suspects         1995     8.7
593  m593                                        verdict         1974     5.7
594  m594                                        vertigo         1958     8.6
595  m595                                very bad things         1998     6.0
596  m596                                      viridiana         1961     8.2
597  m597                                     virtuosity         1995     5.3
598  m598                                    wag the dog         1997     7.1
599  m599                                    wall street         1987     7.3
600  m600                                        waxwork         1988     6.0
601  m601                              what lies beneath         2000     6.5
602  m602                                what women want         2000     6.3
603  m603                              the witching hour         1996     6.5
604  m604                                    white angel         1994     4.4
605  m605                              who's your daddy?       2003/I     4.5
606  m606                                    wild things         1998     6.6
607  m607                                 wild wild west         1999     4.3
608  m608                                         willow         1988     7.1
609  m609                                        witness         1985     7.6
610  m610                               the wizard of oz         1939     8.3
611  m611                        the world is not enough         1999     6.3
612  m612                                       watchmen         2009     7.8
613  m613                                            xxx         2002     5.6
614  m614                                          x-men         2000     7.4
615  m615                             young frankenstein         1974     8.0
616  m616                                      zulu dawn         1979     6.4

[617 rows x 4 columns]

# Skips lines/encoding/decoding/error bad lines